*.pyc
.idea
/static/
/staticfiles/
/media/
settings/local_settings.py
conf/nginx.conf
conf/uwsgi.ini
conf/systemd.conf
*.sock
*.pid
.env
venv
.vscode
*.sqlite3
credentials.json
token.json
docker-compose.yml
celerybeat-schedule
